.jg{font-family: 'Jeju Gothic', sans-serif;}
.jg-color {
  font-family: 'Jeju Gothic', sans-serif;
  color: #57E9E1;
}
.jg-p {
  font-family: 'Jeju Gothic', sans-serif;
  font-size: 100%;
  color: #323232;
  line-height: 150%;
}
.jm{font-family: 'Jeju Myeongjo', serif;}
.ng{font-family: 'Nanum Gothic', sans-serif;}
.ng-p {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.7;
  text-align: left;
}
.ngc{font-family: 'Nanum Gothic Coding', monospace;}

h1 {
  color: #fffafa;
  font-size: 200%;
}
h1#a:after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 1px solid #bcbcbc;
  margin: 20px auto;
}

body {
  text-align: center;
}
div#wrapper {
  width: 100%;
  margin: 0 auto;
}
header {
  height: 250px;
  background-image: url("Tibetfox.jpg");
  background-size: cover;
  margin: 5px auto;
}
footer {
  height: 50px;
  position: relative;
  clear: both;
  border: 1px solid #999;
  margin: 5px auto;
  padding: 10px;
}
article {
  width: 90%;
  margin: 20px;
}

#topMenu {
  height: 30px;
  background-color: #2d2d2d;
  text-align: center;
}
#topMenu li {
    list-style: none;
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    position:relative; height:100%; width:25%; float:left;
}

#topMenu ul {
    margin-left: : 0px auto;
}

#topMenu .menuLink {
  text-decoration:none;
  color: white;
  display: block;
  width: 100% auto;
  font-size: 70%;
  font-family: 'Jeju Gothic', sans-serif;
}

#topMenu .menuLink:hover {
  color: #dcdcdc;
  background-color: #4d4d4d;
}

#logo {
  opacity: 0.5;
}

.subject {
  font-family: 'Jeju Gothic', sans-serif;
  font-size: 300%;
  color: #57E9E1;
  line-height: 100%;
}

.propic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #EBFBFF;
  object-fit: cover;
}

.hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #57E9E1;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #57E9E1;
  background-color: #57E9E1;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #57E9E1;
  background-color: #57E9E1;
  color: #fff;
}

a{text-decoration: none;}
